<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BetaBeam</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style_header.css') }}">
    <link rel="icon" href="/static/images/favicon.ico" sizes="32x32">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>
<body>
<div class="div_footer">
    <footer>
        <div class="div_info">
            <p>ООО «БетаБим» &copy; 2024</p>
            <text>ИНН 7751312119</text> <br>
            <text>ОГРН 1247700352701</text>
        </div>

        <div class="messengers">
            <button class="messenger">
                <a href="https://t.me/betabeam_ru" target="_blank"><img class="messenger" src="/static/images/messengers/tg.svg" alt="Telegram Logo"></a>
            </button>
            <button class="messenger">
                <a href="mailto:info@betabeam.ru"><img class="messenger" src="/static/images/messengers/mail.svg" alt="Mail Logo"></a>
            </button>
        </div>
    </footer>
</div>
</body>
</html>
