<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BetaBeam</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style_header.css') }}">

    <link rel="icon" href="/static/images/favicon.ico" sizes="32x32">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

</head>
<body>
    <header>
        <div class="div_header">
            <!--<button class="burger-menu"></button> -->
            <a class="logo" href="/">
                <img class="logo-img"  src="/static/images/logo.svg" alt="betabeam-logo">
            </a>
            <div class="footer messengers">
                <button class="messenger">
                    <a href="https://t.me/betabeam_ru" target="_blank"><img class="messenger" src="/static/images/messengers/tg.svg" alt="Логотип" class="logo"></a>
                </button>
                <button class="messenger">
                    <a href="mailto:info@betabeam.ru"><img class="messenger" src="/static/images/messengers/mail.svg" alt="Логотип" class="logo"></a>
                </button>
            </div>
        </div>

    </header>
</body>
</html>


